body {
    background-color: #ffffff;
    position: relative;
    margin-top: 40px;
}

.nav{
    max-height: 500px;
    overflow-y:scroll;
}

.glyphicon-main-menu {
    font-size: 35px;
}

.active-folder-list {
    font-weight: bold;
}

.glyphicon-folder-list {
    font-size: 30px;
}

.text-folder-list {
    padding-left:5px;
}

.sublist-folder-list {
    list-style: none;
}
