body {
    background-color: #ffffff;
    position: relative;
    margin-top: 40px;
}

.nav{
    max-height: 500px;
    overflow-y:scroll;
}

.glyphicon-main-menu {
    font-size: 35px;
}

.button-main-menu:hover {
    color: #d43f3a;
}

.active-folder {
    color: #d43f3a;
    font-weight: bold;
    font-style: italic;
}

.glyphicon-folder-list {
    font-size: 30px;
}

.text-folder-list {
    padding-left:7px;
}

.sublist-folder-list {
    list-style: none;
}

.element-note-list {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.glyphicon-note-list {
    font-size: 45px;
}

.active-note-list {
    color: #d43f3a;
    font-weight: bold;
    font-style: italic;
}
