.nav {
    max-height: 500px;
    overflow-y: scroll;
}

.element-folder-list {
    padding-top: 5px;
}

.element-folder-list:hover {
    cursor: pointer;
}

.active-folder-list {
    color: #d43f3a;
    font-weight: bold;
    font-style: italic;
}

.glyphicon-folder-list {
    font-size: 30px;
}

.text-folder-list {
    margin-left: 12px;
}

.text-folder-list-editing {
    margin-left: 12px;
}

.sublist-folder-list {
    list-style: none;
}